<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/about.css">
    <link rel="stylesheet" href="/css/fontawesome.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
</head>
<body>

    <div class="wrapper-box">
    <%- include("./layouts/header.ejs") %>
    <div class="body-wrapper">
        <div class="body-container">

            <div class="about-image">
                   <h1 class="about-heading">About-Us</h1>
                   <p><a href="/home"><span style="cursor: pointer;color: white;">Home/</span></a><span style="color: #f4722b;">About-us</span></p>
            </div>

            <div class="about-tagline">
                <h1>
                    Journey Through Words: Uncovering the Extraordinary in Everyday Life, One Post at a Time.<br>Flaunt your flaws because you are Imperfectly Perfect.
                </h1>
                <div class="line"></div>
                <p class="about-des">
                    Every moment, every experience, holds a story waiting to be told. <br>Our lives are a tapestry of small, seemingly ordinary moments that, when woven together reveal the extraordinary beauty of our existence.<br>Here, your thoughts and stories are valued, not for their perfection, but for the authenticity they bring.
                </p>
            </div>

            <div class="gallery-box">
                <div class="image-container">
                    <img src="/images/cards/beauty.jpg" alt="">
                    <div class="overlay">
                        <div class="text">
                            Beauty
                        </div>
                    </div>
                </div>
                <div class="image-container">
                    <img src="/images/cards/travel.jpg" alt="">
                    <div class="overlay">
                        <div class="text">
                            Travel
                        </div>
                    </div>
                </div>
                <div class="image-container">
                    <img src="/images/cards/tech.jpg" alt="">
                    <div class="overlay">
                        <div class="text">
                            Tech
                        </div>
                    </div>
                </div>
                <div class="image-container">
                    <img src="/images/cards/lifestyle.jpg" alt="">
                    <div class="overlay">
                        <div class="text">
                            Lifestyle
                        </div>
                    </div>
                </div>

                
                
                
            </div>
            <div class="about-tagline">
                <h1>
                    Blogs Across Categories
                </h1>
                <div class="line"></div>
                
            </div>

            <div class="about-tags">
                <div class="tags">
                    <div class="tags-image">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="tags-des">
                        <h4>Search blogs</h4>
                        <p>Search across several Categories. Don't miss out stories you like.</p>
                    </div>
                </div>
                <div class="tags">
                    <div class="tags-image">
                        <i class="fa-solid fa-chart-line"></i>
                    </div>
                    <div class="tags-des">
                        <h4>Grow Together</h4>
                        <p>Learn,grow and suceed. Reading is the best way to gain knowledge.</p>
                    </div>
                </div>
                <div class="tags">
                    <div class="tags-image">
                        <i class="fa-solid fa-users"></i>
                    </div>
                    <div class="tags-des">
                        <h4>Create Community</h4>
                        <p>Create a community of like minded people.Share ideas and thoughts via words.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
   
    </div>
   
    
</body>
</html>