<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>landingpage</title>
  <link rel="stylesheet" href="/stylesheets/landing.css">

</head>
<body>
  <div class="wrapper-box">
      <nav class="nav-bar">
      <div class="logo">
        <img src="/images/finallogo.png" alt="">
      </div>

      <button class="continue-application create-blog">
        <div>
            <div class="pencil"></div>
            <div class="folder">
                <div class="top">
                    <svg viewBox="0 0 24 27">
                        <path d="M1,0 L23,0 C23.5522847,-1.01453063e-16 24,0.44771525 24,1 L24,8.17157288 C24,8.70200585 23.7892863,9.21071368 23.4142136,9.58578644 L20.5857864,12.4142136 C20.2107137,12.7892863 20,13.2979941 20,13.8284271 L20,26 C20,26.5522847 19.5522847,27 19,27 L1,27 C0.44771525,27 6.76353751e-17,26.5522847 0,26 L0,1 C-6.76353751e-17,0.44771525 0.44771525,1.01453063e-16 1,0 Z"></path>
                    </svg>
                </div>
                <div class="paper"></div>
            </div>
        </div>
        <a href="/login" style="text-decoration: none; color: white;">Create Your Blog</a>
    </button>
      
        
      </nav>
       <div class="body-landing">
        <div class="top-page section">
          <div class="heading">
            <span class="text" style="color: black;">
              Your Stories, Our Platform
            </span>
            <div class="wrapper" style="margin-top: 5px;">
              <div class="offset"><h2 class="text animate-before" style="color: #f4722b; font-size: 45px;">Food</h2> </div>
              <div class="offset"><h2 class="text animate-before" style="color: #f4722b; font-size: 45px">Technology & Science</h2> </div>
              <div class="offset"><h2 class="text animate-before" style="color: #f4722b; font-size: 45px">Travel & Culture</h2> </div>
            </div>
          </div>
          <div class="grid-container">
            <div class="grid">
              <div class="column animate-before">
                <div class="item"><img src="/images/food/22e4d9c0deee83f65c95afe7b70c3885.png" alt=""></div>
                <div class="item"><img src="/images/food/2d828f21fd6c829f8ee9698e3b7f205b (3).png" alt=""></div>
                
              </div>
              <div class="column animate-before">
                <div class="item"><img src="/images/food/30cbaaf2a4c0b624abec31027a197bb0.png" alt=""></div>
                <div class="item"><img src="/images/food/437c447768d443d33d9ee3743e87dd08.png" alt=""></div>
              
              </div>
              <div class="column animate-before">
                <div class="item"><img src="/images/food/521a01d28f8bc09a8042ee20a0f6451c (1).png" alt=""></div>
                <div class="item"><img src="/images/food/9076ffe25767c5003290da18ff86b26b.png" alt=""></div>
               
              </div>
              <div class="column animate-before">
                <div class="item"><img src="/images/food/d6a84efcb823cd7bfb1eff508cbbc458.png" alt=""></div>
                
              </div>
              <div class="column animate-before">
                <div class="item"><img src="/images/food/206234caed0fcde41f19bfa7901d177e.png" alt=""></div>
                <div class="item"><img src="/images/food/0497393aabfdf26571cf438b5ce46bee.png" alt=""></div>
                
              </div>
              <div class="column animate-before">
                <div class="item"><img src="/images/food/b7f17f8ac8f58c7c8a47dbfda4e0ea81.png" alt=""></div>
                <div class="item"><img src="/images/food/22e4d9c0deee83f65c95afe7b70c3885.png" alt=""></div>
                
              </div>
              <div class="column animate-before">
                <div class="item"><img src="/images/food/5219377fb9e8b01041522952e702a16e.png" alt=""></div>
                <div class="item"><img src="/images/food/97b27235e43a82fbafca21209ecead48.png" alt=""></div>
                
              </div>
            </div>
            <div class="grid">
              <div class="column animate-before">
                <div class="item"><img src="/images/tech/tech2.png" alt=""></div>
                <div class="item"><img src="/images/tech/tech3.png" alt=""></div>
             
              </div>
              <div class="column animate-before">
                <div class="item"><img src="/images/tech/tech4.png" alt=""></div>
                <div class="item"><img src="/images/tech/tech5.png" alt=""></div>
              
              </div>
              <div class="column animate-before">
                <div class="item"><img src="/images/tech/tech6.png" alt=""></div>
                <div class="item"><img src="/images/tech/tech7.png" alt=""></div>
                
              </div>
              <div class="column animate-before">
                <div class="item"><img src="/images/tech/tech8.png" alt=""></div>
              
              </div>
              <div class="column animate-before">
                <div class="item"><img src="/images/tech/tech9.png" alt=""></div>
                <div class="item"><img src="/images/tech/tech10.png" alt=""></div>
                
              </div>
              <div class="column animate-before">
                <div class="item"><img src="/images/tech/tech11.png" alt=""></div>
                <div class="item"><img src="/images/tech/image13.png" alt=""></div>
                
              </div>
              <div class="column animate-before">
                <div class="item"><img src="/images/tech/tech13.png" alt=""></div>
                <div class="item"><img src="/images/tech/tech14.png" alt=""></div>
                
              </div>
            </div>
            <div class="grid">
              <div class="column animate-before">
                <div class="item"><img src="/images/travel/travel1.png" alt=""></div>
                <div class="item"><img src="/images/travel/travel2.png" alt=""></div>
                
              </div>
              <div class="column animate-before">
                <div class="item"><img src="/images/travel/travel3.png" alt=""></div>
                <div class="item"><img src="/images/travel/travel4.png" alt=""></div>
              
              </div>
              <div class="column animate-before">
                <div class="item"><img src="/images/travel/travel6.png" alt=""></div>
                <div class="item"><img src="/images/travel/travel7.png" alt=""></div>
       
              </div>
              <div class="column animate-before">
                <div class="item"><img src="/images/travel/travel8.png" alt="" style="width: 236px; margin-left:15px;"></div>
               
              </div>
              <div class="column animate-before">
                <div class="item"><img src="/images/travel/travel9.png" alt=""></div>
                <div class="item"><img src="/images/travel/travel10.png" alt=""></div>
          
              </div>
              <div class="column animate-before">
                <div class="item"><img src="/images/travel/travel11.png" alt=""></div>
                <div class="item"><img src="/images/travel/travel12.png" alt=""></div>
              
              </div>
              <div class="column animate-before">
                <div class="item"><img src="/images/travel/travel13.png" alt=""></div>
                <div class="item"><img src="/images/travel/travel14.png" alt=""></div>
              
              </div>
            </div>
            
            
          </div>
         </div>
         <div class="top-page-2 section">
          <div class="leftside">
            <div>
              <h1 class="left-heading" style="color: #f4722b;">Publish Your Thoughts</h1>
              <p class="left-para">Share your voice with the world and inspire change ,
              every thought has the power <br> to make difference.</p>
            </div>
          </div>
          <div class="rightimages">
                 <div class="div-1">
                  <img src="/landingImages/side-1.jpeg" alt="">
                  <img src="/landingImages/side-2.jpeg" alt="">
                 </div>
                 <div class="div-2">
                  <img src="/landingImages/reading-blog.jpeg" alt="">
                 </div>
          </div>
  
         </div>
         <div class="top-page-3 section">
          <div class="leftside">
            <div>
              <h1 class="left-heading">Be Imperfectly Perfect</h1>
            <p class="left-para">Celebrate your unique voice,where every story shines with its own brilliance</p>
            </div>
          </div>
          <div class="rightimages">
                  <div class="div-1">
                    <img src="/landingImages/side-1-second.jpeg" alt="">
                    <img src="/landingImages/side-2-second.webp" alt="">
                  </div>
                  <div class="div-2">
                    <img src="/landingImages/long.webp" alt="">
                  </div>
          </div>
          
  
  
         </div>
         <div class="top-page-4 section">
          <div class="leftside">
            <div>
              <h1 class="left-heading" >Read , Learn and get Inspire</h1>
              <p class="left-para">Dive into stories that entertain,educate and enlighten. Every blog is a new adventure.</p>
            </div>
          </div>
          <div class="rightimages">
            <div class="div-1">
              <img src="/landingImages/side-1-3.jpeg" alt="">
              <img src="/landingImages/side-2-3.jpeg" alt="">
            </div>
            <div class="div-2">
              <img src="/landingImages/long-3.webp" alt="">
            </div>
  
          </div>
          
  
  
         </div>
       </div>

       
  
  </div>
</body>
<script src="/javascripts/landing.js"></script>
</html>