<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <div class="login-container">
        <div class="login-header">
            <img src="/images/finallogo.png" alt="Logo" class="logo">
            <h2>Welcome to Lekh-Luster</h2>
        </div>
        <form class="login-form" action="/login" method="post">
            <input type="email" placeholder="Email" required style="width: 278px;" name="email">
            <input type="password" placeholder="Password" required style="width: 278px;" name="password">
            <button type="submit">Log in</button>
            <a href="/forget-password" class="forgot-password">Forgot your password?</a>
        </form>
        
        <div class="signup-link">
            <p>First time on lekh Lekh-Luster? <a href="/signup" style="text-decoration: underline; font-size: 15px;">Sign up</a></p>
        </div>
    </div>
    <script src="scripts.js"></script>
</body>
</html>