
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
    
</head>
<body>
    <nav>

    </nav>
    <div class="container">
        <div class="images">
            <img src="/images/cover.png" alt="" class="cover" name="cover">
            <img src="profile.png" alt="" class="profile" name="profile">
            <div class="dummy1">

            </div>
            <div class="details">
                <div class="names">
                 <h1>
                     AKSHAT DUBEY
                 </h1>
                 <h3>
                     Senior software developer at google
                 </h3>
                </div>
             </div>
            
           
        </div>
       
        <div class="more-details">
            <h1 style="width:100%; text-align: center; font-size: 50px; font-family: Arial, Helvetica, sans-serif;">About Author</h1>
            <p class="bio">

            </p>
            <button class="cta">
                <span class="hover-underline-animation"> EDIT YOUR PROFILE </span>
                <svg
                  id="arrow-horizontal"
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="10"
                  viewBox="0 0 46 16"
                >
                  <path
                    id="Path_10"
                    data-name="Path 10"
                    d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
                    transform="translate(30)"
                  ></path>
                </svg>
              </button>
              
        </div>
        <button class="learn-more">
            <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
            </span>
            <span class="button-text">DASHBOARD</span>
          </button>
          <div class="gap">

          </div>
        

       
        
    </div>
    

</div>
   
</body>
</html>