<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/stylesheets/resetForgetPass.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="styles/simwebkriti/finallogo.png" alt="Logo" class="logo">
            <h2>Reset Password</h2>
        </div>
        
        <form class="login-form" action="/reset-password" method="post">

            <input type="password" placeholder="New password" name="newPassword">
            <input type="password" placeholder="Confirm  password" name="confirmNewPassword">
            <input type="hidden" value="<%= user_id %>" name="user_id">
            <button name="submit" type="submit" class="submit">Reset</button>
            
            
        </form>
      
           
    </div>
    <script src="scripts.js"></script>
</body>
</html>