

<link rel="stylesheet" href="/stylesheets/headerEditor.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>


<div class="nav-bar">
    <div class="logo">
        <a href="/home"><img src="/images/finallogo.png" alt=""></a>
    </div>
    
    <div class="profile">
        <a href="/profile">A</a>
    </div>
</div>